#
# Nest Configuration File -- Example
#

# Paths where all caches are stored.
# You should leave the default values here.
[paths]
root = "/"
available = "/var/nest/available"
downloaded = "/var/nest/downloaded"
installed = "/var/nest/installed"
depgraph = "/var/nest/depgraph"

# Stable repository
[repositories.stable]
mirrors = [
    "https://stable.raven-os.org",
]

# Beta repository
#
# Uncomment the following to enable the `beta` repository.
#[repositories.beta]
#mirrors = [
#    "https://beta.raven-os.org",
#]

# Nightly repository
#
# Uncomment the following to enable the `nightly` repository.
#[repositories.nightly]
#mirrors = [
#    "https://nightly.raven-os.org",
#]
