# Default configuration file for nest

# Paths used by nest. Default paths will be used if this entry is omitted.
[paths]
root = "/"
available = "/var/nest/available/"
downloaded = "/var/nest/downloaded/"
installed = "/var/nest/installed/"
depgraph = "/var/nest/depgraph"

# Stable repository
[repositories.stable]
mirrors = ["https://stable.raven-os.org"]

# Beta repository (uncomment to enable)
# [repositories.beta]
# mirrors = ["https://beta.raven-os.org"]

# Unstable repository (uncomment to enable)
# [unstable.nightly]
# mirrors = ["https://unstable.raven-os.org"]
